
<h2 class ="text-left hello">Hello - {{user.name}}</h2>
{{!-- {{format_date log_date}} --}}

<div class="container">
  <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
    {{!-- <div class="col">
      <button class=" text-center p-5 border bg-light">Weight</button>
    </div>
    <div class="col">
      <button class=" text-center p-5 border bg-light">Height</button>
    </div> --}}
  </div>
</div>

    <div class="col-md-6 log-list">
    <h3>Daily Log:</h3>

    {{#each logs}}
    <div class="row mb-2">
      <div class ="col-md-8">
        <h4> Exercise : {{exercise.exercise}}</h4>
        <h4> Sets Done : {{sets}}</h4>
        <h4>Reps done : {{reps}}</h4>
        <h4>Calories burned : {{calBurned}}</h4>
      </div>
    </div>
    {{/each}}
  </div>
</div>



